/* RESET */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

/* BODY */

body{
    font-family: Arial, sans-serif;
    background:white;
    color:black;
}

/* HEADER */

header{
    background:white;
    color:black;
    padding:20px;
}

header h1{
    margin-bottom:10px;
}

/* NAVIGATION */

.navbar{
    margin-top:10px;
}

.navbar a{
    color:black;
    text-decoration:none;
    margin-right:20px;
}

.navbar a:hover{
    text-decoration:underline;
}

/* CONTENT */

section{
    padding:20px;
}

/* HEADINGS */

h2{
    margin-bottom:15px;
}

h3{
    margin-top:25px;
    margin-bottom:10px;
}

/* LOGO */

.logo{
    width:150px;
    margin:15px 0;
}

/* IMAGES */

.image-container{
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    margin-top:15px;
}

.image-container img{
    width:250px;
    height:180px;
    object-fit:cover;
    border:1px solid black;
}

/* LISTS */

ol, ul{
    margin-left:30px;
}

li{
    margin-bottom:5px;
}

/* TABLE */

table{
    border-collapse:collapse;
    width:70%;
    margin-top:20px;
}

caption{
    font-weight:bold;
    margin-bottom:10px;
}

th, td{
    border:1px solid black;
    padding:10px;
    text-align:center;
}

/* AUDIO */

audio{
    margin-top:10px;
}

/* VIDEO */

video{
    margin-top:10px;
    border:1px solid black;
}

/* IFRAME */

iframe{
    margin-top:15px;
    border:1px solid black;
}

/* LINKS */

a{
    color:black;
}

/* FOOTER */

footer{
    background:white;
    color:Black;
    text-align:center;
    padding:15px;
    margin-top:30px;
}